@model TestTaskForInforce.Models.Requests.LoginRequest
@{
    ViewData["Title"] = "Login";
}
<html>
<body>
    @Html.React("LoginComponent", new
    {
        submitUrl = Url.Action("Login")
    })
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.js"></script>
    <script src="@Url.Content("~/js/loginComponent.jsx")"></script>
    @Html.ReactInitJavaScript()
</body>
</html>